<ion-header>
    <ion-navbar>
        <ion-title>Statistics</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-item-group>
        <ion-item-divider>
            <div class="row">
                <div class="columns small-6">
                    Match
                </div>
                <div *ngFor="let player of playerS.players; let i = index;" class="columns small-3">
                    {{ player.name }}
                </div>
            </div>
        </ion-item-divider>
        <ion-item>
            <div class="row">
                <div class="columns small-6">
                    Sets
                </div>
                <div *ngFor="let player of playerS.players; let i = index;" class="columns small-3">
                    {{ player.match.sets }}
                </div>
            </div>
            <div class="row">
                <div class="columns small-6">
                    Legs
                </div>
                <div *ngFor="let player of playerS.players; let i = index;" class="columns small-3">
                    {{ player.match.legs }}
                </div>
            </div>
        </ion-item>
    </ion-item-group>

    <ion-item-group>
        <ion-item-divider>
            <div class="row">
                <div class="columns small-12">
                    Averages
                </div>
            </div>
        </ion-item-divider>
        <ion-item>
            <div class="row">
                <div class="columns small-6">
                    Match
                </div>
                <div *ngFor="let player of playerS.players; let i = index;" class="columns small-3">
                    {{ player.statistics.matchAvg ? (player.statistics.matchAvg | number : '1.2-2') : (0 | number : '1.2-2') }}
                </div>
            </div>
            <div class="row">
                <div class="columns small-6">
                    First 9
                </div>
                <div *ngFor="let player of playerS.players; let i = index;" class="columns small-3">
                    {{ player.statistics.first9LegAvg ? (player.statistics.first9LegAvg | number : '1.2-2') : (0 | number : '1.2-2') }}
                </div>
            </div>
            <div class="row">
                <div class="columns small-6">
                    Best leg
                </div>
                <div *ngFor="let player of playerS.players; let i = index;" class="columns small-3">
                    {{ player.statistics.bestLegAvg ? (player.statistics.bestLegAvg | number : '1.2-2') : (0 | number : '1.2-2') }}
                </div>
            </div>
            <div class="row">
                <div class="columns small-6">
                    Current leg
                </div>
                <div *ngFor="let player of playerS.players; let i = index;" class="columns small-3">
                    {{ player.statistics.currentLegAvg ? (player.statistics.currentLegAvg | number : '1.2-2') : (0 | number : '1.2-2') }}
                </div>
            </div>
            <div class="row">
                <div class="columns small-6">
                    Last leg
                </div>
                <div *ngFor="let player of playerS.players; let i = index;" class="columns small-3">
                    {{ player.statistics.lastLegAvg ? (player.statistics.lastLegAvg | number : '1.2-2') : (0 | number : '1.2-2') }}
                </div>
            </div>
        </ion-item>
    </ion-item-group>

    <ion-item-group>
        <ion-item-divider>
            <div class="row">
                <div class="columns small-12">
                    Records
                </div>
            </div>
        </ion-item-divider>
        <ion-item>
            <div class="row">
                <div class="columns small-6">
                    Total legs won
                </div>
                <div *ngFor="let player of playerS.players; let i = index;" class="columns small-3">
                    {{ player.statistics.totalLegsWon ? player.statistics.totalLegsWon : 0 }}
                </div>
            </div>
            <div class="row">
                <div class="columns small-6">
                    Total breaks
                </div>
                <div *ngFor="let player of playerS.players; let i = index;" class="columns small-3">
                    {{ player.statistics.totalBreaks ? player.statistics.totalBreaks : 0 }}
                </div>
            </div>
            <div class="row">
                <div class="columns small-6">
                    Highest score
                </div>
                <div *ngFor="let player of playerS.players; let i = index;" class="columns small-3">
                    {{ player.statistics.highestScore ? player.statistics.highestScore : 0 }}
                </div>
            </div>
            <div class="row">
                <div class="columns small-6">
                    Highest checkout
                </div>
                <div *ngFor="let player of playerS.players; let i = index;" class="columns small-3">
                    {{ player.statistics.highestCheckout ? player.statistics.highestCheckout : 0 }}
                </div>
            </div>
            <div class="row">
                <div class="columns small-6">
                    Average checkout
                </div>
                <div *ngFor="let player of playerS.players; let i = index;" class="columns small-3">
                    {{ player.statistics.avgCheckout ? (player.statistics.avgCheckout | number : '1.2-2') : (0 | number : '1.2-2') }}
                </div>
            </div>
        </ion-item>
    </ion-item-group>

    <ion-item-group>
        <ion-item-divider>
            <div class="row">
                <div class="columns small-12">
                    Checkouts
                </div>
            </div>
        </ion-item-divider>
        <ion-item>
            <div class="row">
                <div class="columns small-6">
                    170
                </div>
                <div *ngFor="let player of playerS.players; let i = index;" class="columns small-3">
                    {{ player.statistics.cat5Checkouts ? player.statistics.cat5Checkouts : 0 }}
                </div>
            </div>
            <div class="row">
                <div class="columns small-6">
                    121+
                </div>
                <div *ngFor="let player of playerS.players; let i = index;" class="columns small-3">
                    {{ player.statistics.cat4Checkouts ? player.statistics.cat4Checkouts : 0 }}
                </div>
            </div>
            <div class="row">
                <div class="columns small-6">
                    101+
                </div>
                <div *ngFor="let player of playerS.players; let i = index;" class="columns small-3">
                    {{ player.statistics.cat3Checkouts ? player.statistics.cat3Checkouts : 0 }}
                </div>
            </div>
            <div class="row">
                <div class="columns small-6">
                    41+
                </div>
                <div *ngFor="let player of playerS.players; let i = index;" class="columns small-3">
                    {{ player.statistics.cat2Checkouts ? player.statistics.cat2Checkouts : 0 }}
                </div>
            </div>
            <div class="row">
                <div class="columns small-6">
                    0+
                </div>
                <div *ngFor="let player of playerS.players; let i = index;" class="columns small-3">
                    {{ player.statistics.cat1Checkouts ? player.statistics.cat1Checkouts : 0 }}
                </div>
            </div>
        </ion-item>
    </ion-item-group>

    <ion-item-group>
        <ion-item-divider>
            <div class="row">
                <div class="columns small-12">
                    Scores
                </div>
            </div>
        </ion-item-divider>
        <ion-item>
            <div class="row">
                <div class="columns small-6">
                    180
                </div>
                <div *ngFor="let player of playerS.players; let i = index;" class="columns small-3">
                    {{ player.statistics.no180Scores ? player.statistics.no180Scores : 0 }}
                </div>
            </div>
            <div class="row">
                <div class="columns small-6">
                    140+
                </div>
                <div *ngFor="let player of playerS.players; let i = index;" class="columns small-3">
                    {{ player.statistics.no140Scores ? player.statistics.no140Scores : 0 }}
                </div>
            </div>
            <div class="row">
                <div class="columns small-6">
                    100+
                </div>
                <div *ngFor="let player of playerS.players; let i = index;" class="columns small-3">
                    {{ player.statistics.no100Scores ? player.statistics.no100Scores : 0 }}
                </div>
            </div>
            <div class="row">
                <div class="columns small-6">
                    60+
                </div>
                <div *ngFor="let player of playerS.players; let i = index;" class="columns small-3">
                    {{ player.statistics.no60Scores ? player.statistics.no60Scores : 0 }}
                </div>
            </div>
            <div class="row">
                <div class="columns small-6">
                    0+
                </div>
                <div *ngFor="let player of playerS.players; let i = index;" class="columns small-3">
                    {{ player.statistics.no0Scores ? player.statistics.no0Scores : 0 }}
                </div>
            </div>
        </ion-item>
    </ion-item-group>

    <ion-item-group>
        <ion-item-divider>
            <div class="row">
                <div class="columns small-12">
                    Darts to win
                </div>
            </div>
        </ion-item-divider>
        <ion-item>
            <div class="row">
                <div class="columns small-6">
                    9
                </div>
                <div *ngFor="let player of playerS.players; let i = index;" class="columns small-3">
                    {{ player.statistics.no9DartsToWin ? player.statistics.no9DartsToWin : 0 }}
                </div>
            </div>
            <div class="row">
                <div class="columns small-6">
                    10-12
                </div>
                <div *ngFor="let player of playerS.players; let i = index;" class="columns small-3">
                    {{ player.statistics.no10DartsToWin ? player.statistics.no10DartsToWin : 0 }}
                </div>
            </div>
            <div class="row">
                <div class="columns small-6">
                    13-15
                </div>
                <div *ngFor="let player of playerS.players; let i = index;" class="columns small-3">
                    {{ player.statistics.no13DartsToWin ? player.statistics.no13DartsToWin : 0 }}
                </div>
            </div>
            <div class="row">
                <div class="columns small-6">
                    16-18
                </div>
                <div *ngFor="let player of playerS.players; let i = index;" class="columns small-3">
                    {{ player.statistics.no16DartsToWin ? player.statistics.no16DartsToWin : 0 }}
                </div>
            </div>
            <div class="row">
                <div class="columns small-6">
                    19-21
                </div>
                <div *ngFor="let player of playerS.players; let i = index;" class="columns small-3">
                    {{ player.statistics.no19DartsToWin ? player.statistics.no19DartsToWin : 0 }}
                </div>
            </div>
            <div class="row">
                <div class="columns small-6">
                    22-24
                </div>
                <div *ngFor="let player of playerS.players; let i = index;" class="columns small-3">
                    {{ player.statistics.no22DartsToWin ? player.statistics.no22DartsToWin : 0 }}
                </div>
            </div>
            <div class="row">
                <div class="columns small-6">
                    25-27
                </div>
                <div *ngFor="let player of playerS.players; let i = index;" class="columns small-3">
                    {{ player.statistics.no25DartsToWin ? player.statistics.no25DartsToWin : 0 }}
                </div>
            </div>
            <div class="row">
                <div class="columns small-6">
                    28-30
                </div>
                <div *ngFor="let player of playerS.players; let i = index;" class="columns small-3">
                    {{ player.statistics.no28DartsToWin ? player.statistics.no28DartsToWin : 0 }}
                </div>
            </div>
            <div class="row">
                <div class="columns small-6">
                    31+
                </div>
                <div *ngFor="let player of playerS.players; let i = index;" class="columns small-3">
                    {{ player.statistics.no31DartsToWin ? player.statistics.no31DartsToWin : 0 }}
                </div>
            </div>
        </ion-item>
    </ion-item-group>

</ion-content>