// General

.button-light {
    background-color: $light-color;
}

.button-radius {
    border-radius: 6px;
}

.button-spacing {
    margin: 0.2rem;
}

// Elements

.player-scores {
    background-color: $dark-color;

    &-head {
        margin: 0;
        padding: 0 25px;
        font-size: 16px;
        color: $low-contrast-text-color;

        .columns {
            padding: 0;
            text-align: right;
        }
    }

    &-name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &.active {
        background-color: $highlight-color;
    }

    &.button {
        margin: 0.2rem 0rem;
        padding: 0 25px;
        text-transform: none !important;
    }

    .button-inner {
        display: block;
    }

    .columns {
        padding: .7em 0;
        text-align: right;

        &:first-child {
            text-align: left;
        }
    }
}

.input-container {
    position: absolute;
    bottom: 0;
    width: 100%;

    button {
        margin: 1px;
    }

    .throw-score {
        padding: 7px 0;
        font-size: 30px;
        text-align: center;
        background-color: $dark-color;
    }

    .evaluateButton {
        position: relative;

        .counter {
            position: absolute;
            top: 3px;
            right: 3px;
            border-radius: 100%;
            font-size: 14px;
            color: $low-contrast-text-color;
            background-color: $dark-color;
        }
    }

    .checkout {
        text-align: center;
    }

    .darts-to-finish {
        &__title {
            text-align: center;
        }
    }
}
