<ion-header>
    <ion-navbar>
        <ion-title>Darts</ion-title>
        <ion-buttons end>
            <button (click)="goToStatistics()" ion-button icon-only>
            <ion-icon name="stats"></ion-icon>
        </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="player-scores-head">
        <div class="row">
            <div class="columns small-5">set</div>
            <div class="columns small-2">leg</div>
            <div class="columns small-2">pts</div>
            <div class="columns small-3">avg</div>
        </div>
    </div>
    <button *ngFor="let player of playerS.players; let i = index;" class="player-scores" [ngClass]="{'active': i === playerS.activePlayer }" ion-button full clear>
        <div class="row">
            <div class="columns small-4 player-scores-name">
                {{ player.name }}</div>
            <div class="columns small-1 text-right thin">{{ player.match.sets }}</div>
            <div class="columns small-2 text-right thin">{{ player.match.legs }}</div>
            <div class="columns small-2 text-right">{{ player.match.score }}</div>
            <div class="columns small-3 text-right thin">{{ player.statistics.matchAvg | number : '1.2-2' }}</div>
        </div>
    </button>

    <div *ngFor="let player of playerS.players; let i = index;">
        <div *ngIf="i === playerS.activePlayer && matchS.matchEnded == false">
            <div class="input-container">
                <div class="row">
                    <div class="throw-score columns small-9 thin">
                        <span *ngIf="throwScore === ''">&nbsp;</span> {{throwScore}}
                    </div>
                    <div class="reset-wrapper columns small-3">
                        <div class="row">
                            <button (click)="undo()" [disabled]="!playerS.matchStarted()" ion-button full clear color="highlight" class="reset button small-12">
                                <ion-icon name="undo"></ion-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div>
                    <div *ngIf="player.match.score <= 170 && !showFinishInput" class="checkout">
                        {{ calcS.returnCheckout(player.match.score) }}
                    </div>
                </div>
                <div *ngIf="!showFinishInput" class="row">
                    <div class="columns small-3">
                        <div class="row">
                            <button (click)="updateThrowScore('1')" ion-button full clear class="button-light button-radius light">1</button>
                            <button (click)="updateThrowScore('4')" ion-button full clear class="button-light button-radius light">4</button>
                            <button (click)="updateThrowScore('7')" ion-button full clear class="button-light button-radius light">7</button>
                            <button (click)="clearThrowScore()" [disabled]="throwScore === ''" ion-button full clear color="highlight">
                                <ion-icon name="backspace"></ion-icon>
                            </button>
                        </div>
                    </div>
                    <div class="columns small-3">
                        <div class="row">
                            <button (click)="updateThrowScore('2')" ion-button full clear class="button-light button-radius light">2</button>
                            <button (click)="updateThrowScore('5')" ion-button full clear class="button-light button-radius light">5</button>
                            <button (click)="updateThrowScore('8')" ion-button full clear class="button-light button-radius light">8</button>
                            <button (click)="updateThrowScore('0')" ion-button full clear class="button-light button-radius light">0</button>
                        </div>
                    </div>
                    <div class="columns small-3">
                        <div class="row">
                            <button (click)="updateThrowScore('3')" ion-button full clear class="button-light button-radius light">3</button>
                            <button (click)="updateThrowScore('6')" ion-button full clear class="button-light button-radius light">6</button>
                            <button (click)="updateThrowScore('9')" ion-button full clear class="button-light button-radius light">9</button>
                            <button (click)="evaluateThrowScore()" [disabled]="throwScore === ''" ion-button full clear color="confirm">
                                <ion-icon name="return-left"></ion-icon>
                            </button>
                        </div>
                    </div>
                    <div class="columns small-3">
                        <div *ngFor="let frequentScore of player.match.frequentScores" class="row">
                            <button (click)="updateEvaluateThrowScore(frequentScore.value)" ion-button full clear class="evaluateButton">
                                <span class="value">{{frequentScore.value}}</span>
                                <span class="counter">{{frequentScore.amount}}</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div *ngIf="showFinishInput" class="row darts-to-finish">
                    <div class="row">
                        <div class="columns small-12 small-offset-3 darts-to-finish__title">
                            Darts to finish:
                        </div>
                        <div class="columns small-12 small-offset-3">
                            <button (click)="updateDartsToFinish(1)" [disabled]="calcS.checkInpossibleFinishes(player.match.score, 1)" ion-button full clear>1</button>
                            <button (click)="updateDartsToFinish(2)" [disabled]="calcS.checkInpossibleFinishes(player.match.score, 2)" ion-button full clear>2</button>
                            <button (click)="updateDartsToFinish(3)" ion-button full clear>3</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>