$roboto-slab-font-path: $font-path !default;

@font-face {
  font-family: "RobotoSlab";
  font-style: normal;
  font-weight: 100;
  src: local("RobotoSlab Thin"), local("RobotoSlab-Thin"), url("#{$roboto-slab-font-path}/RobotoSlab-Thin.ttf") format("truetype"), url("#{$roboto-slab-font-path}/RobotoSlab-Thin.woff") format("woff");
}

@font-face {
  font-family: "RobotoSlab";
  font-style: normal;
  font-weight: 300;
  src: local("RobotoSlab Light"), local("RobotoSlab-Light"), url("#{$roboto-slab-font-path}/RobotoSlab-Light.ttf") format("truetype"), url("#{$roboto-slab-font-path}/RobotoSlab-Light.woff") format("woff");
}

@font-face {
  font-family: "RobotoSlab";
  font-style: normal;
  font-weight: 400;
  src: local("RobotoSlab"), local("RobotoSlab-Regular"), url("#{$roboto-slab-font-path}/RobotoSlab-Regular.ttf") format("truetype"), url("#{$roboto-slab-font-path}/RobotoSlab-Regular.woff") format("woff");
}

@font-face {
  font-family: "RobotoSlab";
  font-style: normal;
  font-weight: 700;
  src: local("RobotoSlab Bold"), local("RobotoSlab-Bold"), url("#{$roboto-slab-font-path}/RobotoSlab-Bold.ttf") format("truetype"), url("#{$roboto-slab-font-path}/RobotoSlab-Bold.woff") format("woff");
}
