<ion-header>
    <ion-navbar>
        <ion-title>New Match</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list no-lines>
        Players
        <ion-item>
            {{ getPlayersString() }}
            <button (click)="setPlayers()" ion-button clear item-right icon-left round>
                <ion-icon name='construct' is-active="false"></ion-icon>
            </button>
        </ion-item>
    </ion-list>
    <ion-list no-lines>
        Sets to win
        <div>
            <ion-item>
                {{ MatchS.setsToWin }}
                <button (click)="setAmountOfSets()" ion-button clear item-right icon-left round>
                    <ion-icon name='construct' is-active="false"></ion-icon>
                </button>
            </ion-item>
        </div>
    </ion-list>
    <ion-list no-lines>
        Legs to win set
        <div>
            <ion-item>
                {{ MatchS.legsToWin }}
                <button (click)="setAmountOfLegs()" ion-button clear item-right icon-left round>
                    <ion-icon name='construct' is-active="false"></ion-icon>
                </button>
            </ion-item>
        </div>
    </ion-list>
    <ion-list no-lines>
        Throw out score
        <div>
            <ion-item>
                {{ MatchS.legPoints }}
                <button (click)="setAmountOfLegPoints()" ion-button clear item-right icon-left round>
                    <ion-icon name='construct' is-active="false"></ion-icon>
                </button>
            </ion-item>
        </div>
    </ion-list>
    <br><br>
    <button [disabled]="!playerS.players.length" (click)="goToMain()" ion-button block clear>Start</button>
</ion-content>