<ion-header>
  <ion-navbar>
    <ion-title>Darts</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <p>
        <button (click)="goToLobby()" ion-button block>New Match</button>
    </p>
    <!-- <button ion-button block>Records</button> -->
    <!-- <button ion-button block>Friends</button> -->
</ion-content>
