// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "scss/foundation.min";
@import "scss/RobotoSlab";

body {
    color: $text-color;
    background-color: $background-color;

    & * {
        font-family: "RobotoSlab" !important;
        font-weight: 400;
    }
}

// Helpers

.thin {
    font-weight: 100 !important;
}

.light {
    font-weight: 300 !important;
}

// Elements

.toolbar {
    padding-left: 0;
    padding-right: 0;

    // Dont affect toolbar height
    .bar-button,
    &-content .button {
        height: initial;
        min-height: initial;
    }

    &-background {
        background-color: $background-color !important;
    }

    &-title,
    .bar-button-default {
        color: $text-color !important;
    }

    &-title {
        font-weight: 700 !important;
        text-align: center;
    }

    .back-button {
        z-index: 1;
    }

    &-content {
        position: absolute;
        width: 100%;

        .button {
            float: right;
        }
    }
}

ion-alert {
    [ion-button] {
        color: $background-color !important;
    }
}

// Small screens
@media only screen and (max-width: 640px) {
    button.button {
        height: 50px;
        font-size: 20px;
    }

    .toolbar {
        .bar-button,
        &-title,
        &-content .button {
            font-size: 17px;
        }

        ion-icon {
            font-size: 27px;
        }
    }

    ion-label,
    ion-input {
        font-size: 20px;
    }

    .item-block {
        min-height: initial;
        height: 100%;
    }
}

// Medium screens
@media only screen and (min-width: 641px) and (max-width: 1024px) {
    .toolbar {
        .bar-button,
        &-title,
        &-content .button {
            font-size: 22px;
        }

        ion-icon {
            font-size: 32px;
        }
    }
}

// Large screens
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
}

// XLarge screens
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
}

// XXLarge screens
@media only screen and (min-width: 1921px) {
}

