<ion-header>
    <ion-navbar>
        <ion-title>Choose players</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list no-lines>
        <div *ngFor="let player of playerS.players" class="row">
            <div class="columns small-9">
                <ion-item>
                    {{ player.name }}
                </ion-item>
            </div>
            <div class="columns small-3">
                <button (click)="playerS.removePlayer(player.id)" ion-button small color="danger" clear icon-only>
                    <ion-icon name='trash' is-active="false"></ion-icon>
                </button>
            </div>
        </div>
        <form action="" [formGroup]="playerNameForm">
            <div class="row">
                <div class="columns small-9">
                    <ion-item>
                        <ion-input name="name" type="text" id="name" formControlName="name" placeholder="Name" required></ion-input>
                    </ion-item>
                </div>
                <div class="columns small-3">
                    <button (click)="submitPlayerName()" [disabled]="playerNameForm.value.name === undefined || playerNameForm.value.name === null || playerNameForm.value.name === ''" type="button" ion-button small clear icon-only>
                        <ion-icon name="add-circle"></ion-icon>
                    </button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="columns">
                <button (click)="confirmPlayers()" ion-button block>Confirm players</button>
            </div>
        </div>
    </ion-list>
</ion-content>